<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Bot</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Images/AbaiImage.ico" rel="icon" />
    <link href="~/Content/StyleMovistar.css" rel="stylesheet" />
    <!------ Include the above in your HEAD tag ---------->

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #02a9de ">
        <div class="container-fluid" style="display:flex" >
            <div class="container" style="display:flex ; justify-content:initial ;color:white">

                <img src="~/Images/Movistar.jpg" alt="Alternate Text" style="width:50px" />
                <h3 style="margin-top:14px">Datos Bot</h3>
            </div>
            <div class="container navbar-header" style="display:flex ; justify-content:end">
                    @Html.ActionLink("CARGUE", "Index", "Simulation", new { area = "" }, new { @class = "navbar-brand barra"})
                    @Html.ActionLink("DOMICILIOS", "Delete", "Simulation", new { tipo = 1 }, new { @class = "navbar-brand barra" })
                    @Html.ActionLink("PENDIENTES", "Delete", "Simulation", new { tipo = 2 }, new { @class = "navbar-brand barra"})
                    @Html.ActionLink("RECHAZOS", "Delete", "Simulation", new { tipo = 3 }, new { @class = "navbar-brand barra"})
            
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ABAI</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
