@model IEnumerable<SimulacionBot.Models.DT_Mensajes_Telefonica_DigitalBlue_Bk>

<br />
<br />
<div class="alert alert-warning" role="alert">
    <p>Se recomienda descargar la informacion ya que si se borran los datos estos se perderan </p>
</div>
@*<input type="button" value="Borrado de Datos" onclick="location.href='@Url.Action("DeleteAll", "Simulation")'" />
    <input class="btn btn-lg btn-success" type="button" value="Descargar Activos Actuales" onclick="location.href='@Url.Action("Descargar", "Simulation")'" />*@


<a class="btn btn-lg btn-danger" href=@Url.Action("DeleteAll", "Simulation")>
    <i class="glyphicon glyphicon-remove pull-left"></i><span>Borrado de Datos<br></span>
</a>

<a class="btn btn-lg btn-success" href='@Url.Action("Descargar", "Simulation")'>
    <i class="glyphicon glyphicon-download-alt pull-left"></i><span>Descargar Activos Actuales<br></span>
</a>

<br />

<h2 style="background-color: #000 ; color:white" class="text-center">Sin Procesar</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mensaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoBase)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoBase)
            </td>
        </tr>
    }

</table>


