@model IEnumerable<SimulacionBot.Models.DT_Mensajes_Telefonica_DigitalBlue_New>

<br />
<br />
<div class="alert alert-warning text-center" role="alert">
    <p>Se recomienda descargar la informacion ya que si se borra esta se perdera </p>
</div>
@*<input type="button" value="Borrado de Datos" onclick="location.href='@Url.Action("DeleteAll", "Simulation")'" />
    <input class="btn btn-lg btn-success" type="button" value="Descargar Activos Actuales" onclick="location.href='@Url.Action("Descargar", "Simulation")'" />*@

<div class="container-fluid text-center">
    <a class="btn btn-lg btn-danger" href=@Url.Action("DeleteAll", "Simulation")>
        <i class="glyphicon glyphicon-remove pull-left"></i><span>Borrado de Datos<br></span>
    </a>

    <a class="btn btn-lg btn-success" href='@Url.Action("Descargar", "Simulation")'>
        <i class="glyphicon glyphicon-download-alt pull-left"></i><span>Descargar Datos<br></span>
    </a>
</div>


<br />

<h2  class="text-center h2Texto">@Session["TipoNombre"] Sin Procesar </h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mensaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th>
            Creación
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            Tipo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoBase)
            </td>
        </tr>
    }

</table>


